body {
    background-color: #f1d5da; /* 浅粉色 */
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 页面内容居中 */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 让图片大小适中 */
#mainImage {
    max-width: 80%; /* 小屏幕默认最大宽度为父容器宽度的 80% */
    height: auto;
    transition: all 0.3s ease;
}

/* 文字 */
h1 {
    font-size: 28px;
    color: #68495b;
}

/* 按钮样式 */
button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

#yes {
    background-color: #d4818e; /* 粉色 */
    color: white;
}

#no {
    background-color: #6784b1; /* 蓝色 */
    color: white;
    position: relative;
}

/* Yes 完全填满屏幕 */
.yes-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffdae0; /* 粉色 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 新增或修改样式 */
.yes-image {
    max-width: 80%; /* 小屏幕默认最大宽度为父容器宽度的 80% */
    height: auto;
}

/* 媒体查询：在屏幕宽度大于 768px 时应用不同样式 */
@media (min-width: 768px) {
    #mainImage {
        max-width: 50%; /* 在中等及以上屏幕上最大宽度为父容器宽度的 50% */
    }

    .yes-image {
        max-width: 50%; /* 在中等及以上屏幕上最大宽度为父容器宽度的 50% */
    }
}

/* 媒体查询：在屏幕宽度大于 1200px 时应用不同样式 */
@media (min-width: 1200px) {
    #mainImage {
        max-width: 30%; /* 在大屏幕上最大宽度为父容器宽度的 30% */
    }

    .yes-image {
        max-width: 30%; /* 在大屏幕上最大宽度为父容器宽度的 30% */
    }
}
